#container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: darkblue
}

#calc{
    display:flex;
    flex-direction: column;
    background-color: rgb(198, 235, 245);
    outline:2px solid black;
    width: 500px;
    height: 500px;
}

.calcRow{
    display:flex;
    flex-direction: row;
    height:100px;
    justify-content: space-between;
}

.opBtn, .btn, #equal{
    border-radius: 10px;
    width:25%;
    height: auto;
    margin:5px;
    outline: 2px solid gray;
}

#display{
    display:flex;
    justify-content:right;
    outline: 2px solid black;
    background-color: beige;
    font-size: 50px;
    margin: 20px;
    width:460px;
    height:70px

}